In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
dateparse = lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
df = pd.read_csv("Complete_daily_data.csv",parse_dates=['Date'], date_parser=dateparse)

In [3]:
# df.columns

In [4]:
df.loc[:,["Date","Solar in MAW","Wind Offshore in MAW","Wind Onshore in MAW","System total load in MAW"]].tail(n=101).head()

,Date,Solar in MAW,Wind Offshore in MAW,Wind Onshore in MAW,System total load in MAW
203903,2020-10-24 22:45:00,0.0,5909.0,23749.0,41322.0
203904,2020-10-24 23:00:00,0.0,5918.0,23915.0,40405.0
203905,2020-10-24 23:15:00,0.0,5986.0,23998.0,40094.0
203906,2020-10-24 23:30:00,0.0,5986.0,24042.0,39772.0
203907,2020-10-24 23:45:00,0.0,5937.0,23988.0,39899.0

In [5]:
df.loc[:,"Baseline System total load in MAW"] = df.loc[:,"System total load in MAW"].shift(periods=96, fill_value=None)
df.loc[:,"Baseline Solar in MAW"] = df.loc[:,"Solar in MAW"].shift(periods=96, fill_value=None)
df.loc[:,"Baseline Wind Offshore in MAW"] = df.loc[:,"Wind Offshore in MAW"].shift(periods=96, fill_value=None)
df.loc[:,"Baseline Wind Onshore in MAW"] = df.loc[:,"Wind Onshore in MAW"].shift(periods=96, fill_value=None)

In [6]:
df.loc[:,["Date","Baseline Solar in MAW","Baseline Wind Offshore in MAW","Baseline Wind Onshore in MAW","Baseline System total load in MAW"]].tail()

,Date,Baseline Solar in MAW,Baseline Wind Offshore in MAW,Baseline Wind Onshore in MAW,Baseline System total load in MAW
203999,2020-10-25 22:45:00,0.0,5909.0,23749.0,41322.0
204000,2020-10-25 23:00:00,0.0,5918.0,23915.0,40405.0
204001,2020-10-25 23:15:00,0.0,5986.0,23998.0,40094.0
204002,2020-10-25 23:30:00,0.0,5986.0,24042.0,39772.0
204003,2020-10-25 23:45:00,0.0,5937.0,23988.0,39899.0

In [12]:
df.loc[-98:,["Date","Solar in MAW","Wind Offshore in MAW","Wind Onshore in MAW","System total load in MAW"]].tail()

,Date,Solar in MAW,Wind Offshore in MAW,Wind Onshore in MAW,System total load in MAW
203999,2020-10-25 22:45:00,0.0,4594.0,11100.0,43529.0
204000,2020-10-25 23:00:00,0.0,4483.0,10719.0,42681.0
204001,2020-10-25 23:15:00,0.0,4517.0,10200.0,42731.0
204002,2020-10-25 23:30:00,0.0,4525.0,9616.0,41995.0
204003,2020-10-25 23:45:00,0.0,4569.0,9416.0,41363.0

In [8]:
df.loc[:,["Date","predicted_Solar in MAW","predicted_Wind Offshore in MAW","predicted_Wind Onshore in MAW","predicted_System total load in MAW"]].tail()

,Date,predicted_Solar in MAW,predicted_Wind Offshore in MAW,predicted_Wind Onshore in MAW,predicted_System total load in MAW
203999,2020-10-25 22:45:00,0.0,4195.0,13087.0,44127.0
204000,2020-10-25 23:00:00,0.0,4873.0,11787.0,43600.0
204001,2020-10-25 23:15:00,0.0,4807.0,11594.0,42885.0
204002,2020-10-25 23:30:00,0.0,4743.0,11415.0,42384.0
204003,2020-10-25 23:45:00,0.0,4673.0,11238.0,41947.0

In [9]:
def MAE(y_actual,y_tested):
    return np.mean(np.abs(y_actual-y_tested))

In [10]:
value = ["System total load in MAW","Wind Offshore in MAW","Wind Onshore in MAW","Solar in MAW"]

In [13]:
for i in value:
    mae_base = MAE(df.loc[96:,i],df.loc[96:,("Baseline "+i)])
    mae_entsoe = MAE(df.loc[96:,i],df.loc[96:,("predicted_"+i)])
    print(f"The baseline for {i} has mae = {round(mae_base,2)} and entsoe has = {round(mae_entsoe,2)}")

The baseline for System total load in MAW has mae = 4468.18 and entsoe has = 1704.81
The baseline for Wind Offshore in MAW has mae = 1132.61 and entsoe has = 357.92
The baseline for Wind Onshore in MAW has mae = 5261.85 and entsoe has = 1004.36
The baseline for Solar in MAW has mae = 1056.8 and entsoe has = 348.25